.footerStyle {
    background-color: var(--cf-theme-800);
    color: var(--cf-theme-150);
}

    .footerStyle a {
        color: var(--cf-theme-200);
    }
        .footerStyle a:hover {
            color: var(--cf-theme-150);
        }

.footerStyle .bi{
    font-size: 1.5rem;
    padding-inline-start: 0.5rem;
}